.app-contact-page{
    background-color: black;
    height: 100vh;
    margin-top: -1px;
}

.box{
    border: 1px solid white;
    background-color: white;
    padding: 150px;
    text-align: center;
    margin-bottom: 15px;
}

.content{
    position: relative;
}