.reel {
    background-color: black;
    height: 100vh;
    margin-top: -1px;
}

h3{
    text-align: center;
}

.content{
    position: relative;
    top: 30%;
}

.pic{
    margin-bottom: 10px;
    text-align: center;
}