<div class="reel">
    <div class="container content reveal">
        <div class="row">
            <h3 style="color: white;"> Project's we've worked on</h3>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-1 pic">
                <img width="180px" height="350px" src="https://d1466nnw0ex81e.cloudfront.net/n_iv/600/1040289.jpg">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-2 pic">
                <img width="180px" height="350px"
                    src="https://m.media-amazon.com/images/M/MV5BNTk2NzEyNTQtZTQ5MS00MjAyLTgzMDMtNDNkYTBkM2M2OTU3XkEyXkFqcGdeQXVyODUwNjEzMzg@._V1_FMjpg_UX1000_.jpg">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-2 pic">
                <img width="180px" height="350px"
                    src="https://m.media-amazon.com/images/I/917AYKewj7L._AC_UF894,1000_QL80_.jpg">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-2 pic">
                <img width="180px" height="350px" src="https://img2.rtve.es/v/5890143/vertical/?h=400">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-2 pic">
                <img width="180px" height="350px"
                    src="https://lumiere-a.akamaihd.net/v1/images/p_leroyandstitch_20506_6f07ec0a.jpeg">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-2 pic">
                <img width="180px" height="350px"
                    src="https://lumiere-a.akamaihd.net/v1/images/p_toystory_19639_424d94a0.jpeg">
            </div>
        </div>
    </div>
</div>