<div class="reel">
    <app-nav-bar></app-nav-bar>
    <div class="container content reveal">
        <div class="frame-container">
            <iframe class="e2e-iframe-trusted-src" width="100%" scrolling="no" [src]="url" frameborder="0" allowfullscreen
                allow="autoplay; encrypted-media"></iframe>
    </div>
    <div class="row" style="margin-top: 20px;">
        <h1 style="text-align: center; color: white; font-size: 66px; font-family: Thonburi Bold;">II RONIN<br></h1>
        <p style="text-align: center; color: white; font-size: 33px; font-family: Thonburi Bold;">十一浪人</p>
    </div>
</div>