<div class="about-us">
    <div class="container content reveal">
        <div class="row">
            <img class="user-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
        </div>
        <div class="row">
            <div class="col-sm">
                <p> the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dogthe quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog
                    the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog
                    the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog the quick brown fox jumped over the lazy dog.
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div> -->
</div>