.about-us {
    background-color: black;
    margin-top: -1px;
    height: 100vh;
    padding-bottom: 18px;
}

.content {
    position: relative;
}


.user-pic {
    width: 130px;
    height: 100px;
    margin-bottom: 10px;
    right: -230px;
    position: relative;
}

p {
    color: white;
    text-align: justify;
}