<div class="about-us">
    <app-nav-bar></app-nav-bar>
    <div class="container content reveal">
        <div class="row">
            <img class="user-pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
        </div>
        <div class="row">
            <div class="col-sm">
                <p style="font-size: 25px;"> Founded in 2024 by Fatih Dogan, our studio emerges from over 13 years of rich experience in the animation industry. With a background including esteemed studios such as MPC, Animal Logic, Method Studios, Dneg Feature, and Cinesite, Fatih Dogan envisioned a space to share his accumulated knowledge and skillset.
                    At our remote studio, we specialize in CG Animation, boasting a team of highly skilled animators dedicated to delivering top-tier key frame animation for features, visual effects, TV, and commercials. What sets us apart is not just our expertise, but also our unwavering commitment to detail and quality. We take pride in every project we undertake, ensuring that each frame reflects our dedication to excellence
                </p>
            </div>
        </div>
    </div>
</div>