.about-us {
    background-color: black;
    margin-top: -1px;
    height: 100vh;
}

.content {
    top: 2%;
    position: relative;
}


.user-pic {
    width: 130px;
    height: 100px;
    margin-bottom: 10px;
}

p {
    color: white;
    text-align: justify;
}